{% extends 'Superadmin/menu_layout.html' %}
  {% block content %}
{% load staticfiles %}

	{% block title %}TT2016-B065 | Crear Escuela{% endblock %}
	<div class="page-head">
		<div class="page-title">
			<h1>Crear Escuela</h1>
		</div>
    </div>
     <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-social-dribbble font-green"></i>
                                        <span class="caption-subject font-green bold uppercase">Escuela</span>
                                    </div>

                                </div>
                                <div class="portlet-body">
            <form class="login-form" action="saveSchool" method="post">

            	{% if messages %}
            		{% for message in messages %}
            			{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

		            	<div class="alert alert-success ">
		                    <button class="close" data-close="alert"></button>
		                    <span>Escuela creada</span>
		                </div>

		                {% endif %}
	                {% endfor %}
                {% endif %}
                {% if messages %}
            		{% for message in messages %}
            			{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

		            	<div class="alert alert-danger ">
		                    <button class="close" data-close="alert"></button>
		                    <span>El nombre de escuela ya existe.</span>
		                </div>
		                {% endif %}
	                {% endfor %}
                {% endif %}
            
                
                <div class="form-group col-md-offset-4">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label ">Nombre de escuela</label>
                    <div class="input-icon">

                        <i class="fa fa-graduation-cap"></i>

                        <input class="form-control placeholder-no-fix" style="width: 40%;" type="text" autocomplete="off" placeholder="Nombre de la escuela" name="school_name" id="school_name" /> </div>
                        <br>

                        <button type="submit" class="btn green "> Crear </button>
                        <br>
                </div>

                	

                
                
            </form>
                            </div>
                            <!-- END SAMPLE TABLE PORTLET-->
                        </div>
                        
                    </div>
                    

	{% block js_2 %}
        
	<script type="text/javascript">

		var set_active = document.getElementById("creatingSchool2");
		set_active.className += " active";
		set_active.className += " open";
		var set_active = document.getElementById("creatingSchool");
		set_active.className += " active";
		set_active.className += " open";
	</script>
	{% endblock %}
{% endblock %}   