{% extends 'Superadmin/menu_layout.html' %}
  {% block content %}
{% load staticfiles %}
        {% block title %}TT2016-B065 | Ver listado de escuelas{% endblock %}
        {% block CSS1 %}
    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/global/plugins/bootstrap-sweetalert/sweetalert.css' %}" rel="stylesheet" type="text/css" />
    {% endblock %}


                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>Ver listado de escuelas
                                
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                        
                    </div>
                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-social-dribbble font-green"></i>
                                        <span class="caption-subject font-green bold uppercase">Escuelas</span>
                                    </div>

                                </div>
                                <div class="portlet-body">
                                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_1">
                                            <thead>
                                                <tr>
                                                    <th> # </th>
                                                    <th> Nombre de Escuela </th>
                                                    <th> Editar </th>
                                                    <th> Eliminar </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            {% for school in schools %}
                                                <tr>
                                                    <td id="{{school.idEscuela}}">{{school.idEscuela}}</td>
                                                    <td id="{{school.idEscuela}}">{{school.nombre}}</td>
                                                    
                                                    <td id="{{school.idEscuela}}">
                                                        <button class="btn delete yellow btn-outline" onclick="editSchool('{{school.idEscuela}}')"><i class="fa fa-close"></i> Editar</button>
                                                    </td>
                                                    <td id="{{school.idEscuela}}">
                                                    


                                                    <button class="btn delete red btn-outline" onclick="deleteSchool('{{school.idEscuela}}')"><i class="fa fa-close"></i> Eliminar</button>

                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                </div>
                            </div>
                            <!-- END SAMPLE TABLE PORTLET-->
                        </div>
                        
                    </div>
                    
                    
                    
                    
                    
                    

            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-login"></i>
            </a>
            
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->

        <!-- END FOOTER -->
        <!-- BEGIN QUICK NAV -->
        
        
        <!-- END QUICK NAV -->
        <!--[if lt IE 9]>
<script src= "{% static 'assets/global/plugins/respond.min.js' %}"></script>
<script src= "{% static 'assets/global/plugins/excanvas.min.js' %}"></script> 
<script src= "{% static 'assets/global/plugins/ie8.fix.min.js' %}"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->

        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        {% block js_1 %}
        
        {% endblock %}
        <!-- END PAGE LEVEL PLUGINS -->

        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        {% block js_3 %}
            
            {% endblock %}

    {% block js_2 %}
        <script type="text/javascript">
        var set_active = document.getElementById("creatingSchool");
        set_active.className += " active";
        set_active.className += " open";
        var set_active = document.getElementById("schoolList");
        set_active.className += " active";
        set_active.className += " open";
        function deleteSchool(id) {
           
            

            swal({
                          title: "¿Estás seguro?",
                          text: "Eliminaras una escuela",
                          type: "warning",
                          showCancelButton: true,
                          confirmButtonColor: "#DD6B55",
                          confirmButtonText: "Eliminar!",
                          closeOnConfirm: false
                        },
                        function(){

                                var settings = {
                                  "async": true,
                                  "crossDomain": true,
                                  "url": "http://"+"{{SERVER_IP}}"+"/v1/escuelas/"+id,
                                  "method": "DELETE",
                                  "headers": {
                                    "content-type": "application/json",
                                    "authorization": "Bearer " + "AgXAJlRVIq2fYYGmCVZ2GEJ5j5eNhE",
                                    "cache-control": "no-cache",
                                    "postman-token": "2e89a0f2-c8e5-be5c-9c52-c0625527a7ad"
                                  },
                                  "processData": false,
                                  
                                  
                                  beforeSend: function () {
                                        console.log('antes');
                                    },
                                    complete: function () {
                                        swal("Eliminado!", "La escuela ha sido eliminada", "success");
                                        location.reload();
                                    },
                                    error: function (algo) {
                                        swal("Error", "Something happened", "error");
                                        console.log(algo);
                                    }
                                }

                                console.log(settings);

                                $.ajax(settings).done(function (response) {
                                  console.log(response);
                                });
                        });
        }


        </script>

        {% endblock %}





        {% endblock %}


        <!-- END THEME LAYOUT SCRIPTS -->
