{% extends 'Superadmin/menu_layout.html' %}
  {% block content %}
{% load staticfiles %}
        {% block title %}TT2016-B065 | Ver listado de usuarios{% endblock %}
        {% block CSS1 %}
    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/global/plugins/bootstrap-sweetalert/sweetalert.css' %}" rel="stylesheet" type="text/css" />
    {% endblock %}


                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>Ver listado de alumnos
                                
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                        
                    </div>
                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE BASE CONTENT -->
                    {% if hasgroup %}
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-social-dribbble font-green"></i>
                                        <span class="caption-subject font-green bold uppercase">Usuarios</span>
                                    </div>

                                </div>
                                <div class="portlet-body">
                                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_1">
                                            <thead>
                                                <tr>
                                                    <th> # </th>
                                                    <th> Alumno </th>
                                                    <th> Usuario </th>
                                                    <th> Grupo </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            {% for user in users %}
                                                <tr>
                                                    <td id="{{user.idUsuario}}">{{user.idUsuario}}</td>
                                                    <td id="{{user.idUsuario}}">{{user.usuario}}</td>
                                                    <td id="{{user.idUsuario}}">{{user.idGrupo}}</td>

                                                    <button class="btn delete red btn-outline" onclick="deleteUser('{{user.idUsuario}}')"><i class="fa fa-close"></i> Eliminar</button>

                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                    
                                </div>
                            </div>
                            <!-- END SAMPLE TABLE PORTLET-->
                        </div>
                        
                    </div>
                    
                    {% endif %}
                    
                    
                    
                    

            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-login"></i>
            </a>
            
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->

        <!-- END FOOTER -->
        <!-- BEGIN QUICK NAV -->
        
        
        <!-- END QUICK NAV -->
        <!--[if lt IE 9]>
<script src= "{% static 'assets/global/plugins/respond.min.js' %}"></script>
<script src= "{% static 'assets/global/plugins/excanvas.min.js' %}"></script> 
<script src= "{% static 'assets/global/plugins/ie8.fix.min.js' %}"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->

        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        {% block js_1 %}

        {% endblock %}
        <!-- END PAGE LEVEL PLUGINS -->

        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        {% block js_2 %}



        <script>
        var set_active = document.getElementById("listusers");
        set_active.className += " active";
     
        function deleteUser(id) {
           
            

            swal({
                          title: "¿Estás seguro?",
                          text: "Eliminaras un usuario",
                          type: "warning",
                          showCancelButton: true,
                          confirmButtonColor: "#DD6B55",
                          confirmButtonText: "Borrarlo!",
                          closeOnConfirm: false
                        },
                        function(){

                                var settings = {
                                  "async": true,
                                  "crossDomain": true,
                                  "url": "http://localhost:5000/v1/usuarios/"+id,
                                  "method": "DELETE",
                                  "headers": {
                                    "content-type": "application/json",
                                    "authorization": "Bearer " + "AgXAJlRVIq2fYYGmCVZ2GEJ5j5eNhE",
                                    "cache-control": "no-cache",
                                    "postman-token": "2e89a0f2-c8e5-be5c-9c52-c0625527a7ad"
                                  },
                                  "processData": false,
                                  
                                  
                                  beforeSend: function () {
                                        console.log('antes');
                                    },
                                    complete: function () {
                                        swal("Eliminado!", "El usuario ha sido eliminado", "success");
                                        location.reload();
                                    },
                                    error: function (algo) {
                                        swal("Error", "Something happened", "error");
                                        console.log(algo);
                                    }
                                }

                                console.log(settings);

                                $.ajax(settings).done(function (response) {
                                  console.log(response);
                                });
                        });
        }


        </script>

        {% endblock %}





        {% endblock %}


        <!-- END THEME LAYOUT SCRIPTS -->
