{% extends 'Superadmin/menu_layout_staff.html' %}
  {% block content %}
{% load staticfiles %}

	{% block title %}TT2016-B065 | Bienvenido{% endblock %}
	<h1>Bienvenido Profesor {{username}}</h1>
	TT 2016-B065 Sistema con realidad aumentada para el aprendizaje de reglas ortográficas de acentuación.

	Plataforma para profesor.

	Este sistema tiene como objetivo ser de apoyo para el aprendizaje de reglas ortográficas de acentuación.
	<script type="text/javascript">

		var set_active = document.getElementById("home");
		set_active.className += " active";
	</script>
{% endblock %}   